* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Croissant One", serif;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0px 32px;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-image: url("img/background4.jpg");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(32, 43, 43);
}
#section1 .s1top h2 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
#section1 .s1top p {
  font-size: 26px;
  font-weight: 600;
}
#section1 .s1bottom {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
#section1 .s1bottom .s1left {
  width: 33%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 20px;
}
#section1 .s1bottom .s1left h1 {
  font-size: 70px;
}
#section1 .s1bottom .s1left h2 {
  font-size: 40px;
}
#section1 .s1bottom .s1left p {
  font-size: 23px;
  width: 100%;
}
#section1 .s1bottom .s1left .s1button button {
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
}
#section1 .s1bottom .s1right {
  width: 33%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 20px;
}
#section1 .s1bottom .s1right h1 {
  font-size: 70px;
}
#section1 .s1bottom .s1right h2 {
  font-size: 40px;
}
#section1 .s1bottom .s1right p {
  font-size: 23px;
  width: 100%;
}
#section1 .s1bottom .s1right .s1button button {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  color: white;
}
#section1 .s1bottom .s1center {
  width: 33%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 20px;
}
#section1 .s1bottom .s1center h1 {
  font-size: 70px;
}
#section1 .s1bottom .s1center h2 {
  font-size: 40px;
}
#section1 .s1bottom .s1center p {
  font-size: 23px;
  width: 100%;
}
#section1 .s1bottom .s1center .s1button button {
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
}

#section2 {
  background-image: url("img/background1.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section2 .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 29px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
}
#section2 .s2top {
  display: flex;
  gap: 20px;
}
#section2 .s2top input {
  width: 350px;
  height: 48px;
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
}
#section2 .s2bot {
  display: flex;
  gap: 20px;
}
#section2 .s2bot input {
  width: 350px;
  height: 48px;
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
}
#section2 textarea {
  border: none;
  border-radius: 10px;
  width: 730px;
}
#section2 button {
  color: white;
  padding: 10px 300px;
  border-radius: 100px;
  border: none;
  background-color: #909090;
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
}

#section3 {
  width: 100%;
  background-color: #bcffff;
}
#section3 .section3ortalama {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: rgb(29, 29, 54);
}
#section3 .s3img {
  margin-top: 30px;
  width: 30%;
  height: 450px;
}
#section3 .s3img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#section3 .s3text {
  height: 329px;
  width: 70%;
  background-color: #dcf5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0px 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

#section4 {
  width: 100%;
  margin-top: 50px;
}
#section4 .section4ortalama {
  display: flex;
  justify-content: space-between;
}
#section4 .section4ortalama .s4img {
  width: 45%;
  height: 425px;
  position: relative;
}
#section4 .section4ortalama .s4img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 30px;
}
#section4 .section4ortalama .s4img .imgaroundtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 30px;
  bottom: -50px;
  z-index: 1;
  position: absolute;
  right: -50px;
  background-color: #4fffff;
  text-align: center;
  color: white;
}
#section4 .section4ortalama .s4img .imgaroundtext .wrapper {
  border-radius: 50px;
  border: dashed 2px white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}
#section4 .section4ortalama .s3text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
#section4 .section4ortalama .s3text h1 {
  font-weight: bolder;
  color: darkblue;
  font-size: 53px;
  position: relative;
}
#section4 .section4ortalama .s3text h1::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 78%;
  height: 18px;
  background: rgb(255, 198, 208);
}
#section4 .section4ortalama .s3text h3 {
  font-weight: bolder;
  color: darkblue;
  font-size: 53px;
  position: relative;
}
#section4 .section4ortalama .s3text h3::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 78%;
  height: 18px;
  background: rgb(246, 199, 130);
}
#section4 .section4ortalama .s3text button {
  padding: 10px 30px;
  background-color: orange;
  border: dashed white 3px;
  border-radius: 100px;
  width: 50%;
  color: white;
  font-size: 22px;
}

#section5 {
  width: 100%;
  margin-top: 150px;
}
#section5 .section5ortalama {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section5 .section5ortalama .s5img {
  width: 362px;
  height: 519px;
  position: relative;
}
#section5 .section5ortalama .s5img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#section5 .section5ortalama .s5img .contact {
  width: 312px;
  height: 490px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4fffff;
  top: 30px;
  right: -190px;
  border-radius: 30px;
  color: white;
}
#section5 .section5ortalama .s5img .contact .wrapper {
  border-radius: 50px;
  border: dashed 2px white;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
#section5 .section5ortalama .s5img .contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section5 .section5ortalama .s5img .contact .form input {
  border: none;
  border-radius: 50px;
  padding: 8px 15px;
  margin-top: 10px;
}
#section5 .section5ortalama .s5img .contact .form textarea {
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}
#section5 .section5ortalama .s5img .contact .form button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  background: orange;
  border-radius: 22px;
}
#section5 .section5ortalama .s5text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#section5 .section5ortalama .s5text ul {
  list-style: none;
  font-size: 33px;
  color: rgb(77, 77, 255);
}
#section5 .section5ortalama .s5text p {
  font-size: 20px;
  color: gray;
}
#section5 .section5ortalama .s5text h1 {
  font-weight: bolder;
  color: darkblue;
  font-size: 53px;
  position: relative;
}
#section5 .section5ortalama .s5text h1::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 78%;
  height: 18px;
  background: rgb(255, 198, 208);
}
#section5 .section5ortalama .s5text h3 {
  font-weight: bolder;
  color: darkblue;
  font-size: 53px;
  position: relative;
}
#section5 .section5ortalama .s5text h3::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 78%;
  height: 18px;
  background: rgb(246, 199, 130);
}

#section6 {
  margin-top: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#section6 .s6left {
  width: 47%;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
#section6 .s6left h2 {
  font-size: 40px;
  color: darkblue;
  width: 400px;
  font-weight: 900;
}
#section6 .s6left p {
  font-size: 22px;
  color: gray;
}
#section6 .s6left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#section6 .s6left ul li {
  display: flex;
  font-size: 30px;
  color: darkblue;
  font-weight: 800;
}
#section6 .s6left ul .icon {
  width: 50;
  height: 50px;
}
#section6 .s6left ul .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section6 .right {
  width: 30%;
  height: 500px;
}
#section6 .right img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 850px) {
  #section1 .s1left,
  #section1 .s1right,
  #section1 .s1center {
    height: 500px;
  }
  #section1 h1 {
    display: none;
  }
  #section1 .s1button {
    padding-bottom: 60px;
  }
  #section2 .form {
    height: 600px;
  }
  #section3 .section3ortalama {
    flex-direction: column;
  }
  #section3 .section3ortalama .s3img {
    width: 100%;
  }
  #section3 .section3ortalama .s3text {
    width: 90%;
  }
  .section4ortalama {
    flex-direction: column;
  }
  .section4ortalama .s5text {
    width: 100%;
  }
}
@media (max-width: 850px) {
  #section6 {
    flex-direction: column;
  }
  #section6 .s6left {
    width: 100%;
    text-align: center;
  }
  #section6 .s6left h2 {
    width: 100%;
    text-align: center;
  }
  #section6 .s6left p {
    width: 80%;
    text-align: center;
  }
  #section6 .right {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */